* {
    /* border: 1px solid black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 17px; */
    /* line-height: 1.6; */
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

header {
    justify-content: space-between;
    align-items: center;
    grid-row: 1/2;
    /* background-color: white; */
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

header .new-book-button {
    background-color: brown;
    color: white;
    width: 33%;
    border: none;
    border-radius: 30px;
    padding: 1rem;
}

.modal {
    min-width: 280px;
    max-width: 320px;
    border: none;
    border-radius: 10px;
}

.modal div {
    display: flex;
    justify-content: space-between;
}


.modal input{
    margin: 0.5rem;
}

.modal label {
    padding: 0.25rem
}

.modal .read {
    width: 40%;
}

.modal .modal-buttons {
    margin-top: 0.5rem;
}

.modal button {
    margin: 0.25rem;
    background-color: blue;
    border-radius: 20px;
    padding: 0.5rem;
    color: white;
}

.modal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.4;
}

main {
    background-color: brown;
    /* color: white; */
    grid-row: 2;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
    gap: 0.5rem;
}

main .single-card {
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    margin: 0.25rem;
    padding: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

main .card-info {
    justify-self: center;
}

main .card-buttons button {
    background-color: white;
    border: none;
}